* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: black;
    min-height: 100vh;
}

.container {
    display: flex;
    min-height: 400px;
    width: max-content;
    flex-wrap: wrap;
    align-self: center;
    margin: auto;
    box-sizing: border-box;
    border: 1px solid white;
    max-inline-size: 25rem;
    background-color: brown;
}
#input {
    display: flex;
}
div .numbers {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
}

div .operators {
    display: flex;
    flex-wrap: wrap;
    min-height: 150px;
}

button {
    display: flex;
}

.number {
    display: flex;
    font-size: 2rem;
    height: 70px;
    width: 70px;
    align-items: center;
    justify-content: center;
}

.operator,
#equals,
#clear {
    display: flex;
    font-size: 2rem;
    height: 100px;
    width: 150px;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    background-color: orange;
}
#equals {
    background-color: greenyellow;
}
#clear {
    background-color: red;
}

div {
    padding: 5px 10px;
    align-items: center;
    justify-content: center;
}
